@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
$bgcolor1 : #210f8a;
$bgcolor2 : #245fb8;
$bgcolor3 : #1aa4a8;
$bgcolor4 : #4bd7e9;
$bgfront : #1766ce;
$bgback : #d41b43;
$bgdbase : #56d877f8;
$bgdevops : #9e7400af;
$bgmobile : #949494af;
$bgfrontd : #104181;
$bgbackd : #8b142e;
$bgdbased : #2e723ef8;
$bgdevopsd : #7a5a00af;
$bgmobiled : #616161af;
$bgcolor1d : #000000;
$bgcolor2d : #111111;
$bgcolor3d : #222222;
$bgcolor4d : #333333;
$bgcolorlb1 : #09003b;
$bgcolorlb2 : #245fb8;
$bgcolorlb3 : #1aa4a8;
$bgcolorlb4 : #4bd7e9;
$bgcolorskills: #b4e2da;
$bgcolorskillsd: #4c5f5c;
$bgcolorBlueLight: rgba(198, 253, 249, 0.712);
$bgcolorDarkLight: rgba(255, 255, 255, 0.712);
$bgcolorDarkLight2: rgba(44, 44, 44, 0.912);
$aasd: #ffffff;



body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Lexend', sans-serif;
}
